<h1> This is my first class <h1>

# Heading 1

## heading 2

### heading 3

#### heading 4

##### heading 5

Welcome to skills4future program from edunet Foundation at Shree LR tiwari college of engineering .

In [3]:
print("Hello. My name is Apeksha !")

Hello. My name is Apeksha !

In [4]:
print("Main duniya me akela hu !!")

Main duniya me akela hu !!

In [5]:
x = 'Shree lr tiwari college of engineering'

In [6]:
type(x)

str

In [7]:
y = 10.5
type(y)

float

In [8]:
z= "10" 
type(z)

str

In [9]:
a = 64
type(a)

int

In [13]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# __ dunder function  are used in oop.

In [15]:
#this is my first comment 
l1= [1,2,3,4,5, "a"]
type(l1)
print(l1)

[1, 2, 3, 4, 5, 'a']

In [22]:
print(l1[0])
l1[4:]

1

[5, 'a']

In [23]:
l1[-1]

'a'

In [24]:
l1[1:4]

[2, 3, 4]

In [26]:
l1.append(10)
print(l1)

[1, 2, 3, 4, 5, 'a', 10, 10]

In [27]:
l1.remove(10) #does not returns which element was removed. 

print(l1)

[1, 2, 3, 4, 5, 'a', 10]

In [28]:
l1.insert(5,"new") #shift + tab 
print(l1) #print is not req.

[1, 2, 3, 4, 5, 'new', 'a', 10]

In [42]:
l1.pop(2) #returns which element was removed.

1

In [33]:
l1.reverse()
l1

['a', 'new', 5, 4, 3, 2, 1]

In [36]:
fruits = ["cherry ", "Apple", "mango", "Banana"]
fruits.sort()
fruits

['Apple', 'Banana', 'cherry ', 'mango']

In [38]:
x = 'HelloNew'
x[::-1] #reversing a string

'weNolleH'

In [40]:
fruit1 = ['litchi', 'orange', 'watermelon','grapes', 'avacado']
fruits.extend(fruit1)
fruits

['Apple',
 'Banana',
 'cherry ',
 'mango',
 'litchi',
 'orange',
 'watermelon',
 'grapes',
 'avacado']

In [41]:
fruits.index("mango")

3

In [44]:
fruits.clear() # removes all element
print(fruits)

[]

In [49]:
#tuple
tup1 = (1,4,7,8,8,5,5,3,23)
tup1

(1, 4, 7, 8, 8, 5, 5, 3, 23)

In [45]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [50]:
tup1.count(3)

1

In [52]:
tup1.index(23)

8

In [56]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [54]:
#set - unique elements only 
set1 ={ 2,3,4,5,6,34,5,55,5,55}
set1

{2, 3, 4, 5, 6, 34, 55}

In [55]:
set2 ={3,54,6,7,7,8,23,4,55,54,4,9}
set2

{3, 4, 6, 7, 8, 9, 23, 54, 55}

In [57]:
set1.union(set2) #all values w/o duplicates

{2, 3, 4, 5, 6, 7, 8, 9, 23, 34, 54, 55}

In [58]:
set1.intersection(set2) #common values w/o duplicates

{3, 4, 6, 55}

In [59]:
set1.difference(set2) #elements in set1 but not in set2

{2, 5, 34}

In [61]:
set1.discard(10)
set1

{2, 3, 4, 5, 6, 34, 55}

In [62]:
set1.remove(10) #error

KeyError: 10

In [63]:
#dictionary - unique keys 
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [64]:
dict1 = { 1: "Apeksha", 2: "sneha"}
dict1.values()

dict_values(['Apeksha', 'sneha'])

In [65]:
dict1.keys()

dict_keys([1, 2])

In [66]:
dict1

{1: 'Apeksha', 2: 'sneha'}

In [68]:
dict1.pop(2)

'sneha'

In [71]:
#conditional statements 
#if
x= 10 
if x>0:
    print("x is greater")

x is greater

In [74]:
#if-else
x= 0 
if x>=10:
    print("x is greater")
else:
    print("x is smaller")

x is smaller

In [76]:
#elif
x= 98
if x>100:
    print("x is greater 100")
elif x == 100:
    print("x is 100")
else:
    print("x is smaller than 100")

x is smaller than 100

In [ ]:
#loops 
#while 
count = 0;
while count < 10:
    print(count)
    count = count+1

In [ ]:
count = 10
while count >=0:
    print(count)
    count = count-1

In [ ]:
#for loop
for i in range (1,11,2): #start, stop, increment 
    print(i)

In [79]:
x=10
y=20
hex(id(x))

'0x18308456a50'

In [80]:
x== y

False

In [81]:
n= 'Mumbai'
'm' in n

True

In [82]:
'r' +'m'+'s' #concat

'rms'

In [83]:
x,y,z,= 10,11,12
x+y+z

33

In [84]:
x>10 and y<20

False

In [85]:
x>10 or y <20

True

In [86]:
x!=10

False

In [87]:
x==10

True

In [91]:
#function 
def func1(x,y):
    return x+y
    
func1(10,20)

30

In [93]:
def add(*args): #multiple args acceptable 
    return sum(args)
add(10,2,3,3,4,5,6,7)

40

In [96]:
def sqaure_of_num(a):
    return a*a
sqaure_of_num(7)

49

In [100]:
def add_sqaure_of_num(a,b):
    return a*a+b*b
add_sqaure_of_num(2,3)

13

In [102]:
#lambda function - anonymous  , performs only 1 operation(uni-operation) 
y= lambda x: x+1 
y(2)

3

In [104]:
z= lambda x,y: x*y #mul
z(2,3)

In [105]:
a = lambda x,y :x+y #add
a(2,3)

5

In [106]:
z= lambda x,y: x*x+y*y #square sum
z(2,3)

13

In [112]:
#dataset 
stud = {'Name':["Apeksha", "Sneha", "Shivam", "Priya", "Unnati"], 
        'Age':[20,23,23,24,21], 
        'Place': ["Virar", "dahisar", "Kandivali", "Andheri", "Vasai"]}

In [113]:
import pandas as pd
df= pd.DataFrame(stud)
df

      Name  Age      Place
0  Apeksha   20      Virar
1    Sneha   23    dahisar
2   Shivam   23  Kandivali
3    Priya   24    Andheri
4   Unnati   21      Vasai

In [ ]:
pte - performance, task ,experience